<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='/css/styles.css') }}"
    />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/img/favicon.ico') }}">
    <title>Your Active Bookings</title>
  </head>
  <body>
    <nav>
      <div class="navbar">
        <div class="navbar-brand">
          <a href="/">Elleve</a>
        </div>
        <div class="navbar-menu">
          <a href="/">Home</a>
          {% if session.username %}
          <a href="/bookings">Bookings</a>
          <a href="/history">History</a>
          <a href="/logout">Logout</a>
          {% else %}
          <a href="/login">Login</a>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="login-container">
      <h2>Your Active Bookings</h2>
      <ul if="{{ bookings }}">
        {% for booking in bookings %}
        <li>
          <p>Scooter ID: {{ booking.id }}</p>
          <p>Location: ({{ booking.latitude }}, {{ booking.longitude }})</p>
          <p>Battery: {{ booking.battery_level }}%</p>
          <p>Booked At: {{ booking.booking_time }}</p>
          <form action="/end_booking/{{ booking.id }}" method="POST">
            <button type="submit">End Booking</button>
          </form>
        </li>
        {% endfor %}
      </ul>
      <p if="{{ not bookings }}">
        You have no active bookings.
      </p>
    </div>
  </body>
</html>
