<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='/css/styles.css') }}"
    />
    <title>Booking History</title>
  </head>
  <body>
    <nav>
      <div class="navbar">
        <div class="navbar-brand">
          <a href="/">Elleve</a>
        </div>
        <div class="navbar-menu">
          <a href="/">Home</a>
          {% if session.username %}
          <a href="/bookings">Bookings</a>
          <a href="/history">History</a>
          <a href="/logout">Logout</a>
          {% else %}
          <a href="/login">Login</a>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="login-container">
      <h2>Your Booking History</h2>
      <ul>
        {% for booking in history %}
        <li>
          <p>Scooter ID: {{ booking.id }}</p>
          <p>Location: ({{ booking.latitude }}, {{ booking.longitude }})</p>
          <p>Battery: {{ booking.battery_level }}%</p>
          <p>Booked At: {{ booking.booking_time }}</p>
          <p>Ended At: {{ booking.end_time }}</p>
          <p>Price: {{ booking.price }} NOK</p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
